* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  overflow: initial;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #181818;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.contact-body,
.career-body {
  overflow-x: hidden;
}

p {
  font-size: 1.5rem;
  font-weight: 200;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
  display: inline;
  padding: 1rem;
}

ul {
  margin-top: 4rem;
}

.mini {
  font-size: 1.1rem;
}

section {
  margin: 10rem 0;
}

/* UTILITIES */
.sub-heading {
  font-size: 6rem;
  font-weight: 700;
}

#about p,
#details p,
#showcase p,
#showcase2 p,
#showcase3 p {
  line-height: 4rem;
}

.design-head-ultra {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 5px;
}

.design-head {
  font-size: 13rem;
  font-weight: 700;
}

.design-head2 {
  font-size: 8rem;
  font-weight: 200;
  letter-spacing: 3px;
}

.design-head3 {
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 3px;
}

/* NAVBAR */

.navbar-brand {
  font-size: 2rem;
  padding-top: 2rem;
}

.navbar-brand {
  font-weight: 100;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/* HEADER */

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.349)),
    url("../img//hero.jpg") no-repeat center center/cover;
  height: 100vh;
}

.lead-head {
  text-transform: uppercase;
  font-size: 13rem;
  font-weight: 700;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.418);
}

.design {
  margin-top: 7.5rem;
  border: 3px solid #fff;
}

.lead-p {
  font-size: 2rem;
  font-weight: 100;
}

/* ABOUT  */
.ione {
  background: url("../img/design.png") no-repeat center center/cover;
  height: 50vh;
}

/* SHOWCASES */

.video {
  width: 100%;
}

.video1 {
  width: 90%;
}

.logo {
  filter: invert(100%);
}

/* DESIGN */

#design {
  margin: auto;
}

/* MINI FOOT */
.mini-foot {
  position: absolute;
  left: 0;
  bottom: 0;
}

.jr {
  font-size: 1.1rem;
}

.jr2 {
  font-size: 1.3rem;
}

/* CLIENTS */
#client .sub-heading {
  text-align: center;
}

#client .logo1 {
  width: 50%;
  filter: invert(100%);
}
#client .logo2 {
  width: 55%;
}

/* .c {
  position: relative;
} */

#client .client {
  margin: 3rem auto;
  display: block;
}

/* CONATACTS PAGE */
.contact-header {
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.363)),
    url("../img/contact.jpeg") no-repeat center center/cover;
  height: 100vh;
}

/* CAREERS PAGE */
.career-header {
  background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.363)),
    url("../img/jobs.jpeg") no-repeat center center/cover;
  height: 100vh;
}

#career a {
  font-size: 1.3rem;
}

/* FOOTER */
#footer {
  margin-top: 30rem;
}

.footer {
  text-align: center;
}
